header.wrapper.header#header
    .container
        i.header__menu-icon.js-menu.svg
            +icon("ico-menu")
        .header__wrapper
            .header__top-line
                .header__select
                    .header__select-icon.svg
                        +icon("ico-place")
                    select
                        option(selected="selected") Екатеринбург
                        option Москва
                        option Владивосток
                a(href="/").header__logo.svg.png
                    +icon("logo")
                .header__tel
                    .header__tel-line
                        .header__tel-icon.svg
                            +icon("ico-tel")
                        .header__tel-wrapper
                            a(href="tel:8 (800) 100-10-13") 8 (800) 100-10-13
                            a(href="tel:8 (495) 925-00-13") 8 (495) 925-00-13
                    span.header__tel-info Звоните с 6 утра по МСК
            .header__formobile
                .header__middle-line
                    .header__faces.js-faces
                        a(href="#").active Частным лицам
                        a(href="#") Юридическим лицам
                    .header__links
                        a(href="#") Форум
                        a(href="#") Поддержка
                        a(href="#") FAQ
                        a(href="#").header__lk
                            span Личный кабинет
                            .header__lk-icon.svg
                                +icon("ico-lk")
                .header__bottom-line
                    .header__menu-wrapper
                        .header__menu
                            a(href="#") Акции
                            a(href="#") Тарифы
                            a(href="#") Оборудование
                            a(href="#") Услуги
                            a(href="#") Компания
                            a(href="#") Новости
                            a(href="#") Контакты
                            a(href="#") Дилерам
                    .header__other
                        a(href="#").header__other-search.svg
                            +icon("ico-search")
                        .header__decor
                        .header__btns
                            a(href="#") рассчитать тариф
                            a(href="#").btn-blue Подключиться
                i.js-close-menu.svg
                    +icon("ico-menu-arrow")
