@media screen and (max-width: 1200px) {
  .header__bottom-line {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .header__menu-wrapper {
    padding-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1100px) {}
@media screen and (max-width: 991px) {}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header__top-line {
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    margin-bottom: 30px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header__select {
    margin-bottom: 8px;
  }
  .header__logo {
    left: 85px;
    transform: translateX(0);
  }
  .header__middle-line {
    justify-content: flex-start;
    padding-bottom: 15px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__links {
    margin-bottom: 15px;
  }
  .header__menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .header__menu a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header__menu a {
    font-size: 18px;
    line-height: 1.2;
  }
  .header__formobile {
    margin: 0;
    width: 100%;
    position: fixed;
    background: #ffffff;
    z-index: 100000;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 30px;
    transform: translateX(-100%);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    overflow-x: scroll;
    opacity: 0;
    &.opened {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .header__formobile > i {
    display: block;
  }
  .header__other {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .header__menu-icon {
    display: block;
  }
}
@media screen and (max-width: 543px) {
  .header__links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header__links>*:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__formobile {
    padding: 20px;
  }
  .header__formobile>i {
    left: 20px;
    top: 20px;
  }
  .header__other {
    flex-direction: column;
  }
  .header__other-search {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    position: absolute!important;
  }
  .header__decor {
    display: none;
  }
  .header__btns {
    flex-direction: column;
  }
  .header__btns a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header__btns a {
    min-width: 200px;
    text-align: center;
  }
  .header__logo {
    left: 0;
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: relative!important;
    order: 1;
  }
  .header__top-line {
    align-items: center;
  }
  .header__select {
    order: 2;
    margin: 20px 0 10px;
  }
  .header__tel {
    align-items: center;
    order: 3;
  }
  .header__menu-icon {
    left: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
  }
  .header__tel-line {
    margin-bottom: 5px;
  }
  .header__menu a {
    font-size: 16px;
  }
  .header__menu a:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 470px) {
  .header__faces {
    flex-direction: column;
  }
  .header__faces a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__faces a {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
  }
}