body {
  font-family: 'Roboto', sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

select {

}

.select2-container {
  width: auto!important;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  font-weight: normal;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 12px;
  line-height: 14px;
  color: #404040;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 9px;
  height: 5px;
  background: url("../img/svg/select-arrow.svg") no-repeat center;
  background-size: contain;
  top: 4px;
  right: 3px;
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--open .select2-selection__arrow {
  transform: rotate(180deg);
}

.select2-dropdown {
  background-color: white;
  border-radius: 0;
  width: auto!important;
  font-size: 12px;
}

.select2-container--open .select2-dropdown--below {
  border-top: 1px solid rgb(170, 170, 170);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3498DB;
}

.svg {
  position: relative;
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
