.header {
  padding: 20px 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__top-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-bottom: 29px;
  }
  &__select {
    display: flex;
    align-items: center;
  }
  &__select-icon {
    width: 12px;
    height: 16px;
  }
  &__logo {
    position: absolute!important;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100px;
    height: 79px;
    &.png {
      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("../img/sprites/logo.png") no-repeat center;
        background-size: contain;
      }
    }
  }
  &__tel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__tel-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    a {
      position: relative;
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      color: #333333;
      &:hover {
        color: #3498DB;
      }
      &:not(:last-child) {
        margin-right: 21px;
        &:after {
          content: '';
          position: absolute;
          right: -10px;
          top: 0;
          height: 100%;
          width: 1px;
          background: #333333;
        }
      }
    }
  }
  &__tel-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
    opacity: 0.6;
  }
  &__tel-info {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.4;
  }
  &__middle-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 15px;
  }
  &__faces {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      font-size: 14px;
      line-height: 16px;
      color: #444444;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;
      &:hover {
        color: #3498DB;
      }
      &.active {
        color: #3498DB;
        pointer-events: none;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }

    }
  }
  &__links {
    display: flex;
    align-items: center;
    &>*:not(:last-child) {
      margin-right: 24px;
    }
    a {
      display: inline-block;
      font-size: 12px;
      color: #333333;
      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;
      &:hover {
        color: #3498DB;
        svg {
          fill: #3498DB;
        }
      }
    }
  }
  &__lk {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 23px;
  }
  &__lk-icon {
    position: absolute!important;
    width: 13px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    svg {
      -webkit-transition: fill 0.2s ease;
      transition: fill 0.2s ease;
      fill: #666;
    }
  }
  &__bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-wrapper {
    position: relative;
    padding-right: 30px;
  }
  &__menu {
    display: flex;
    a {
      display: inline-block;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      &:not(:last-child) {
        margin-right: 28px;
      }
      &:hover {
        color: #3498DB;
        opacity: 0.8;
      }
    }
  }
  &__other {
    display: flex;
    align-items: center;
  }
  &__other-search {
    width: 18px;
    height: 18px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    svg {
      fill: #333333;
    }
    &:hover {
      svg {
        fill: #3498DB;
      }
    }
  }
  &__decor {
    width: 1px;
    height: 10px;
    background: #C4C4C4;
    margin: 0 20px;
  }
  &__btns {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #3498DB;
      border: 1px solid #3498DB;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px 13px 9px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:hover {
        background-color: #3498DB;
        color: #ffffff;
      }
      &.btn-blue {
        background-color: #3498DB;
        color: #ffffff;
        &:hover {
          color: #3498DB;
          background-color: #ffffff;
        }
      }
    }
  }
  &__formobile {
    &>i {
      display: none;
      position: absolute;
      left: 30px;
      top: 30px;
      width: 20px;
      height: 20px;
    }
  }
  &__menu-icon {
    display: none;
    position: fixed!important;
    left: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    z-index: 100;
    svg {
      fill: #333333;
    }
  }
}